<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.ReFiDa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="OLKI.Programme.ReFiDa.Properties.Settings_AppVar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.ReFiDa.Properties.Settings_AppConst" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <OLKI.Programme.ReFiDa.Properties.Settings>
            <setting name="AppUpdate_CheckAtStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchDate_Source" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InstantRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuitAfterRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSourceSelectPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileSourceDirectoryPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileSourceDirectorySub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForAlreadyInTargetFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchDate_List" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>{"Date":"dd-MM-yyyy@HH-mm-ss","Position":1,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy HH-mm-ss","Position":1,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy@HH-mm","Position":1,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy HH-mm","Position":1,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy","Position":1,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy@HH-mm-ss","Position":0,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy HH-mm-ss","Position":0,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy@HH-mm","Position":0,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy HH-mm","Position":0,"Seperator":" - "}</string>
                        <string>{"Date":"dd-MM-yyyy","Position":0,"Seperator":" - "}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NewDate_Format" serializeAs="String">
                <value>{"Date":"yyyy-MM-dd@HH-mm","Position":1,"Seperator":" - "}</value>
            </setting>
            <setting name="SelectAllRenameableFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortenFilenames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortenFilenames_Limit" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="OutlookAdd" serializeAs="String">
                <value>0</value>
            </setting>
        </OLKI.Programme.ReFiDa.Properties.Settings>
        <OLKI.Programme.ReFiDa.Properties.Settings_AppVar>
            <setting name="SettingsUpgradet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTabPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FilesColumnWidth" serializeAs="String">
                <value>-1;-1;-1;-1</value>
            </setting>
        </OLKI.Programme.ReFiDa.Properties.Settings_AppVar>
    </userSettings>
    <applicationSettings>
        <OLKI.Programme.ReFiDa.Properties.Settings_AppConst>
            <setting name="AppUpdate_ChangeLog" serializeAs="String">
                <value>Changelog.txt</value>
            </setting>
            <setting name="AppUpdate_Name" serializeAs="String">
                <value>OLKI.Programme.ReFiDa</value>
            </setting>
            <setting name="AppUpdate_Owner" serializeAs="String">
                <value>OliverKind</value>
            </setting>
            <setting name="AppUpdate_SetupSearchPattern" serializeAs="String">
                <value>ReFiDa__v{0}__Setup.exe</value>
            </setting>
            <setting name="DefaultDate_Format" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultDate_Position" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultDate_Seperatur" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatColor_ToRename" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="FormatColor_Renamed" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="FormatColor_Exception" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>RaMaDe\</value>
            </setting>
            <setting name="FormatHelpLink" serializeAs="String">
                <value>https://learn.microsoft.com/de-de/dotnet/standard/base-types/custom-date-and-time-format-strings</value>
            </setting>
        </OLKI.Programme.ReFiDa.Properties.Settings_AppConst>
    </applicationSettings>
</configuration>
